.fightstatslist-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;

  .fightstatslist-tooltip {
    font-weight: normal !important;
    opacity: 50%;
  }
}

.fightstatslist-content {
  text-align: center;
}
