@use 'Srcery';

@mixin nav-link {
  color: Srcery.$brightblack;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@mixin nav-link-hover {
  color: Srcery.$white;
}

.navigation {
  width: 100%;

  .navbar {
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    color: Srcery.$white;

    .navbar-brand {
      color: Srcery.$white;
    }

    .navbar-nav {
      .nav-link {
        @include nav-link;
      }

      .nav-link:hover {
        @include nav-link-hover;
      }
    }

    .navbar-text {
      color: Srcery.$brightblack;
    }
  }

  // Need those outside as well due to version number being outside the actual
  // navigation
  .nav-link {
    @include nav-link;
  }

  .nav-link:hover {
    @include nav-link-hover;
  }
}
