@use 'Bootstrap';

.nick-0 {
  color: ivory;
}
.nick-1 {
  color: white;
}
.nick-2 {
  color: pink;
}
.nick-3 {
  color: firebrick;
}
.nick-4 {
  color: cyan;
}
.nick-5 {
  color: violet;
}
.nick-6 {
  color: deeppink;
}
.nick-7 {
  color: yellowgreen;
}
.nick-8 {
  color: gold;
}
.nick-9 {
  color: salmon;
}
.nick-10 {
  color: royalblue;
}
.nick-11 {
  color: orange;
}
.nick-12 {
  color: steelblue;
}
.nick-13 {
  color: tomato;
}
.nick-14 {
  color: lawngreen;
}
.nick-15 {
  color: paleturquoise;
}
.nick-16 {
  color: khaki;
}
