@use 'Srcery';

.nick-0 {
  color: Srcery.$white;
}
.nick-1 {
  color: Srcery.$red;
}
.nick-2 {
  color: Srcery.$green;
}
.nick-3 {
  color: Srcery.$yellow;
}
.nick-4 {
  color: Srcery.$blue;
}
.nick-5 {
  color: Srcery.$magenta;
}
.nick-6 {
  color: Srcery.$cyan;
}
.nick-7 {
  color: Srcery.$brightblack;
}
.nick-8 {
  color: Srcery.$brightred;
}
.nick-9 {
  color: Srcery.$brightgreen;
}
.nick-10 {
  color: Srcery.$brightyellow;
}
.nick-11 {
  color: Srcery.$brightblue;
}
.nick-12 {
  color: Srcery.$brightmagenta;
}
.nick-13 {
  color: Srcery.$brightcyan;
}
.nick-14 {
  color: Srcery.$orange;
}
.nick-15 {
  color: Srcery.$brightorange;
}
