// https://raw.githubusercontent.com/srcery-s/srcery-web/master/palette/srcery_css.css

$black : rgb(28, 27, 25);
$red : rgb(239, 47, 39);
$green : rgb(81, 159, 80);
$yellow : rgb(251, 184, 41);
$blue : rgb(44, 120, 191);
$magenta : rgb(224, 44, 109);
$cyan : rgb(10, 174, 179);
$white : rgb(208, 191, 161);
$brightblack : rgb(145, 129, 117);
$brightred : rgb(247, 83, 65);
$brightgreen : rgb(152, 188, 55);
$brightyellow : rgb(254, 208, 110);
$brightblue : rgb(104, 168, 228);
$brightmagenta : rgb(255, 92, 143);
$brightcyan : rgb(83, 253, 233);
$brightwhite : rgb(252, 232, 195);
$orange : rgb(215, 95, 0);
$brightorange : rgb(255, 135, 0);
$hard_black : rgb(18, 18, 18);
$xgray1 : rgb(38, 38, 38);
$xgray2 : rgb(48, 48, 48);
$xgray3 : rgb(58, 58, 58);
$xgray4 : rgb(68, 68, 68);
$xgray5 : rgb(78, 78, 78);
$xgray6 : rgb(88, 88, 88);